{
    "install":false,
    "dbDir":"/opt/collab/lib/database",
    "dir":"/opt/collab/lib",
    "mysqlDatabase":{
        "host":"collaboration-server-db",
        "port":3306,
        "name":"collaboration-server",
        "username":"collaboration-server",
        "password":"collaboration-server"
    }
}