{
    "install":false,
    "dbDir":"opt/cs/misc/database",
    "dir":"/opt/collab",
    "mysqlDatabase":{
        "host":"collaboration-server-db",
        "port":3306,
        "name":"collaboration-server",
        "username":"collaboration-server",
        "password":"collaboration-server"
    }
}